<div class="page-header">
  <h3>Saved Resume #<%= @saved_resume.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @saved_resume.user.present? %>
          <a href="/users/<%= @saved_resume.user_id %>">
            <%= @saved_resume.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Resume name</dt>
      <dd><%= @saved_resume.resume_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_resumes" class="btn btn-primary">
        Back
      </a>
      <a href="/saved_resumes/<%= @saved_resume.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_saved_resume/<%= @saved_resume.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Saved resume has many sr_skills -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_skills
      </li>

      <% @saved_resume.sr_skills.each do |sr_skill| %>
        <li class="list-group-item">
          <a href="/sr_skills/<%= sr_skill.id %>">
            <%= sr_skill.resume_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_skills/<%= sr_skill.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_skills/<%= sr_skill.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_skill/<%= sr_skill.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sr_skill" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(SavedResume.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for skills_id -->
      <div class="form-group">
        <label for="skills_id" class="control-label">
          Skills
        </label>

        <%= select_tag(:skills_id, options_from_collection_for_select(Skill.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sr Skill
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Saved resume has many sr_bullets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_bullets
      </li>

      <% @saved_resume.sr_bullets.each do |sr_bullet| %>
        <li class="list-group-item">
          <a href="/sr_bullets/<%= sr_bullet.id %>">
            <%= sr_bullet.bullets_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_bullets/<%= sr_bullet.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_bullets/<%= sr_bullet.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_bullet/<%= sr_bullet.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sr_bullet" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bullets_id -->
      <div class="form-group">
        <label for="bullets_id" class="control-label">
          Bullets
        </label>

        <%= select_tag(:bullets_id, options_from_collection_for_select(Bullet.all, :id, :organization_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(SavedResume.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sr Bullet
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Saved resume has many sr_purpose_statements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_purpose_statements
      </li>

      <% @saved_resume.sr_purpose_statements.each do |sr_purpose_statement| %>
        <li class="list-group-item">
          <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>">
            <%= sr_purpose_statement.purpose_statements_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_purpose_statement/<%= sr_purpose_statement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sr_purpose_statement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for purpose_statements_id -->
      <div class="form-group">
        <label for="purpose_statements_id" class="control-label">
          Purpose statements
        </label>

        <%= select_tag(:purpose_statements_id, options_from_collection_for_select(PurposeStatement.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(SavedResume.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sr Purpose Statement
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
