<div class="page-header">
  <h3>Saved Resume #<%= @saved_resume.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @saved_resume.user_id %></dd>

      <dt>Resume name</dt>
      <dd><%= @saved_resume.resume_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_resumes" class="btn btn-primary">
        Back
      </a>
      <a href="/saved_resumes/<%= @saved_resume.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_saved_resume/<%= @saved_resume.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Saved resume has many sr_skills -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_skills
      </li>

      <% @saved_resume.sr_skills.each do |sr_skill| %>
        <li class="list-group-item">
          <a href="/sr_skills/<%= sr_skill.id %>">
            <%= sr_skill.resume_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_skills/<%= sr_skill.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_skills/<%= sr_skill.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_skill/<%= sr_skill.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Saved resume has many sr_bullets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_bullets
      </li>

      <% @saved_resume.sr_bullets.each do |sr_bullet| %>
        <li class="list-group-item">
          <a href="/sr_bullets/<%= sr_bullet.id %>">
            <%= sr_bullet.bullets_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_bullets/<%= sr_bullet.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_bullets/<%= sr_bullet.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_bullet/<%= sr_bullet.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Saved resume has many sr_purpose_statements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_purpose_statements
      </li>

      <% @saved_resume.sr_purpose_statements.each do |sr_purpose_statement| %>
        <li class="list-group-item">
          <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>">
            <%= sr_purpose_statement.purpose_statements_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_purpose_statement/<%= sr_purpose_statement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
