<div class="page-header">
  <h3>Sr Skill #<%= @sr_skill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Resume</dt>
      <dd><%= @sr_skill.resume_id %></dd>

      <dt>Skills</dt>
      <dd><%= @sr_skill.skills_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sr_skills" class="btn btn-primary">
        Back
      </a>
      <a href="/sr_skills/<%= @sr_skill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_sr_skill/<%= @sr_skill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
