<div class="page-header">
  <h3>Purpose Statement #<%= @purpose_statement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @purpose_statement.user.present? %>
          <a href="/users/<%= @purpose_statement.user_id %>">
            <%= @purpose_statement.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/purpose_statements" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @purpose_statement.user %>
        <a href="/purpose_statements/<%= @purpose_statement.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_purpose_statement/<%= @purpose_statement.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Purpose statement has many sr_purpose_statements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_purpose_statements
      </li>

      <% @purpose_statement.sr_purpose_statements.each do |sr_purpose_statement| %>
        <li class="list-group-item">
          <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>">
            <%= sr_purpose_statement.purpose_statements_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_purpose_statements/<%= sr_purpose_statement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_purpose_statement/<%= sr_purpose_statement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sr_purpose_statement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for purpose_statements_id -->
      <div class="form-group">
        <label for="purpose_statements_id" class="control-label">
          Purpose statements
        </label>

        <%= select_tag(:purpose_statements_id, options_from_collection_for_select(PurposeStatement.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(SavedResume.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sr Purpose Statement
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
