<div class="page-header">
  <h3>Skill #<%= @skill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @skill.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/skills" class="btn btn-primary">
        Back
      </a>
      <a href="/skills/<%= @skill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_skill/<%= @skill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Skill has many sr_skills -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_skills
      </li>

      <% @skill.sr_skills.each do |sr_skill| %>
        <li class="list-group-item">
          <a href="/sr_skills/<%= sr_skill.id %>">
            <%= sr_skill.resume_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_skills/<%= sr_skill.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_skills/<%= sr_skill.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_skill/<%= sr_skill.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_sr_skill" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(SavedResume.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for skills_id -->
      <div class="form-group">
        <label for="skills_id" class="control-label">
          Skills
        </label>

        <%= select_tag(:skills_id, options_from_collection_for_select(Skill.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Sr Skill
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
