<div class="page-header">
  <h3>Skill #<%= @skill.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @skill.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/skills" class="btn btn-primary">
        Back
      </a>
      <a href="/skills/<%= @skill.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_skill/<%= @skill.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Skill has many sr_skills -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sr_skills
      </li>

      <% @skill.sr_skills.each do |sr_skill| %>
        <li class="list-group-item">
          <a href="/sr_skills/<%= sr_skill.id %>">
            <%= sr_skill.resume_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sr_skills/<%= sr_skill.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sr_skills/<%= sr_skill.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_sr_skill/<%= sr_skill.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
