<!-- Validation failure messages -->
<% if @sr_bullet.errors.any? %>
  <% @sr_bullet.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Sr Bullet #<%= @sr_bullet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_sr_bullet/<%= @sr_bullet.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for bullets_id -->
      <div class="form-group">
        <label for="bullets_id" class="control-label">
          Bullets
        </label>

        <%= select_tag(:bullets_id, options_from_collection_for_select(Bullet.all, :id, :organization_id, @sr_bullet.bullets_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <input type="text" id="resume_id" name="resume_id" placeholder="Resume" class="form-control" value="<%= @sr_bullet.resume_id %>">
      </div>

      <button class="btn btn-warning">
        Update Sr Bullet
      </button>
      or
      <a href="/sr_bullets/<%= @sr_bullet.id %>">Cancel</a>
    </form>
  </div>
</div>
