<div class="page-header">
  <h1>
    Sr bullets
    <a href="/sr_bullets/new" class="btn btn-lg btn-success">New Sr bullet</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Bullets</th>
        <th>Resume</th>
        <th>Actions</th>
      </tr>

      <% @sr_bullets.each do |sr_bullet| %>
      <tr>
        <td>
          <% if sr_bullet.bullets.present? %>
            <a href="/bullets/<%= sr_bullet.bullets.id %>">
              <%= sr_bullet.bullets.organization_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if sr_bullet.resume.present? %>
            <a href="/saved_resumes/<%= sr_bullet.resume.id %>">
              <%= sr_bullet.resume.user_id %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/sr_bullets/<%= sr_bullet.id %>" class="btn btn-primary">Show</a>
          <a href="/sr_bullets/<%= sr_bullet.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_sr_bullet/<%= sr_bullet.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @sr_bullets, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
